# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# NOTE: .env and google-services.json are intentionally NOT ignored here
# so they get uploaded to EAS Build (unlike .gitignore which excludes them)

# Native
/android
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/
