# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Native
/ios
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Firebase config files
GoogleService-Info.plist

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/